@inject ILogger<Game> logger;

<div class="game">
    <strong>Guess the Number</strong>
    <div class="match-val">correct digit</div>
    <div class="match-pos">correct position</div>
    <div>
        digits:
        <input type="number"
               value=@digitCount
               inputmode="numeric"
               min="1" max="10"
               @onchange="RestartGame" />
    </div>
    <hr />
    @if (guesses == null)
    {
        <h1>Loading...</h1>
    }
    else
    {
        <div class="guesses">
            @foreach (var row in guesses)
            {
                @for (int i = 0; i < digitCount; i++)
                {
                    <span class="@row.Matches[i]">
                        @row.Guess[i]
                    </span>
                }
                <br />
            }

            @if (winner)
            {
                <span>Winner!</span>
                <div>
                    <button @onclick="PlayAgain">Play Again</button>
                </div>
            }
            else
            {
                <input type="text"
               @bind=guess
               class="guess"
               inputmode="numeric"
               size="@digitCount"
               maxlength="@digitCount" />
                <button @onclick="GuessAnswer">Guess</button>
            }
        </div>
    }
</div>