@page "/counter2"
@page "/counter2/{increment:int}"

<PageTitle>Counter</PageTitle>

<div class="alert alert-info">
    <h1>Count by @increment</h1>
    <p role="status">Current value: @currentCount</p>
    <button class="btn btn-primary"
            @onclick="IncrementCount">
        Click me
    </button>
</div>



