@page "/counter"
@page "/counter/{increment:int}"

<PageTitle>Counter</PageTitle>

<div class="alert alert-info">
    <h1>Count by @increment</h1>
    <p role="status">Current value: @currentCount</p>
    <button class="btn btn-primary"
            @onclick="IncrementCount">
        Click me
    </button>
</div>

@code {
    [Parameter]
    public int? Increment { get; set; }

    private int increment = 1;
    private int currentCount = 0;

    protected override void OnParametersSet()
    {
        if (Increment.HasValue)
            increment = Increment.Value;
    }

    private void IncrementCount()
    {
        currentCount += increment;
    }
}
