@page "/"
@using Demo_08.Shared

<h2>Button 1</h2>
<BweButton Class="button button-red"
           Disabled="false"
           Title="This is a red button"
           Type="button"
           ClickEvent="OnClickHandler">
    Submit
</BweButton>

<h2>Button 1 using InputAttributes</h2>
<BweButton @attributes="InputAttributes"
           ClickEvent="OnClickHandler">
    Submit
</BweButton>

<h2>Button 2</h2>
<BweButton2 @attributes="InputAttributes2"
            @onclick="OnClickHandler"
            class="button button-black">
    Submit
</BweButton2>
<hr />
<div>@timeClicked</div>

@code {
    public string timeClicked;
    public Dictionary<string, object> InputAttributes { get; set; } =
        new()
        {
            { "Class", "button button-red"},
            { "Disabled", false},
            { "Title", "This is a red button" },
            { "Type", "button" }
        };

    public Dictionary<string, object> InputAttributes2 { get; set; } =
        new()
        {
            { "class", "button button-red" },
            { "title", "This is another button" },
            { "name", "btnSubmit" },
            { "type", "button" },
            { "myAttribute", "123"}
        };

    private void OnClickHandler()
    {
        timeClicked = DateTime.Now.ToString();
    }

}


