@page "/"

<PageTitle>Guess the Number</PageTitle>

<ErrorBoundary>
    <ChildContent>
        <Game />
    </ChildContent>
    <ErrorContent>
        <h1>You have entered an invalid guess!</h1>
    </ErrorContent>
</ErrorBoundary>

